body {
    background: #333;
    overflow-x: hidden;
}

#carousselContainer{
    display: table;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headPicture{
    width: 100%;
    height: 30%;
}

.myPictures{
    max-height: 100%;
    z-index: 1;
}

#leftDiv{
    width: 50%;
    height: 100%;
    position: absolute;
    float: left;
    z-index:11;
}

#rightDiv{
    width: 50%;
    height: 100%;
    position: absolute;
    float: right;
    margin-left: 50%;
    z-index:10;
}

.contentDiv{
    width: 100%;
    height: 70%;
    position: absolute;
    background-color: #d8c5c5;
    z-index: 1;
}

.carousel3d {
    position: absolute;
    height: 50%;
    width: 40%;
    top: 48%;
    -webkit-perspective: 70em;
    perspective: 70em;
}

.carousel3d .controls {
    width: 30%;
    position: absolute;
    color: #fff;
    font-size: 5em;
    top: 100%;
    left: 37%;
  
}
.carousel3d .controls a {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.carousel3d .controls a.next {
    float: right; 
}
  
.window {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    font-family: Helvetica, Arial, sans-serif;
}
  
.window .pane {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
  
.window .pane h1 {
    font-size: 7em;
    margin-top: 1.4em;
}
.pane.left img,
.pane.right img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.pane{
    align-content: center;
}

.pane.left {
    -webkit-transform: translate3d(-25em, 0, -20em) rotateY(50deg);
    transform: translate3d(-25em, 0, -20em) rotateY(50deg);
}
.pane.left.hide {
    opacity: 0;
    -webkit-transform: translate3d(-35em, 0, -30em) rotateY(40deg);
    transform: translate3d(-35em, 0, -30em) rotateY(40deg);
}
.pane.right {
    -webkit-transform: translate3d(25em, 0, -20em) rotateY(-50deg);
    transform: translate3d(25em, 0, -20em) rotateY(-50deg);
}
.pane.right.hide {
    opacity: 0;
    -webkit-transform: translate3d(35em, 0, -30em) rotateY(-40deg);
    transform: translate3d(35em, 0, -30em) rotateY(-40deg);
}

.headerActivities{
    width: 100%;
    height: 30vh;
    padding-top: 50px;
    background-image: url("/images/Home/ActivitiesHeader.jpg");
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 10vh;
    font-family: 'Sorcerer', sans-serif;
    margin-top : 60px;
}

@font-face {
    font-family: "Sorcerer";
    src: url("/fonts/SorciereNoire.ttf");
}