.container{
  width: 100%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
}
.zoneGauche{
  background-color: #e66242a1;
  float: left;
  width: 49.9%;
  height: 500px;
}

.zoneDroite{
  background-color: #d14a2ca1;
  float: right;
  width: 49.9%;
  height: 500px;
}

.zoneBas{
  background-color: #bee62eab;
  display: inline-block;
  margin-top: 0.2%;
  width: 100%;
  height: 300px; 
}

.zoneHaut{
  background-color: #2ee681ab;
  display: inline-block;
  margin-bottom: 0.2%;
  width: 100%;
  height: 150px; 
}

.bouton {
	border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
  padding:6px 0 6px 0;
  margin-left: 42%;
  margin-top: 5%;
}

#login{
  margin-top: 9%;
  margin-right: 10px;
}

body {
  padding-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.chipChild {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.customerProfil{
  margin-top: 9%;
}