<head>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div class="zoneHaut">
    <input type="text" ng-model="id"  ng-change="textInputChange()">
    <input type="button" ng-show="showAgeWebService" value="The best Web Service EU to call" class="bouton" ng-click="callServices()">
  </div>

  <div class="zoneGauche">
    <div class="customerProfil" ng-show="person != null">
      <div class="chip" >
        <img src="/images/yeoman.png" alt="Person" width="96" height="96">
            {{person.firstName}} {{person.lastName}}
      </div>
      <Br/>
      <div ng-show="person != null">
          <li class="chipChild"><b>His id : </b> {{person.personid}}</li>
          <li class="chipChild"><b>His first name : </b> {{person.firstName}}</li>
          <li class="chipChild"><b>His last name : </b> {{person.lastName}}</li>
          <li class="chipChild"><b>His age : </b> {{person.age}}</li>
          <li class="chipChild"><b>His address : </b> {{person.address}}</li>
      </div>
    </div>
    

    <!-- If the customer does not exit -->
    <p ng-show="person == null">No one at this id. Do you wan to insert a new customer ?</p>
    <input type="button" ng-show="person == null" value="Create a new customer" class = "bouton" ng-click="showInsertCustomer()">
    <form ng-show="insertCustomer" action="/ma-page-de-traitement" method="post">
      <div>
        <label for="id">Id :</label>
        <input type="text" ng-model="personId" />
      </div>

      <div>
        <label for="firstName">First Name :</label>
        <input type="text" ng-model="personFirtName" />
      </div>

      <div>
        <label for="lastName">Last Name :</label>
        <input type="text" ng-model="personLastName" />
      </div>

      <div>
        <label for="age">Age :</label>
        <input type="text" ng-model="personAge" />
      </div>

      <div>
        <label for="address">address :</label>
        <input type="text" ng-model="personAddress" />
      </div>
      <input type="button"  value="Submit" class = "bouton" ng-click="insertNewCustomer(personId, personFirtName, personLastName, personAge, personAddress);showInsertCustomer()">
    </form>
    
    
  </div>

  <div class="zoneDroite">
    Zone Droite
    The content is {{geeting.content}}
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>                             
      <ui-gmap-markers click="clickMarker" icon="'icon'" models="markers" coords="'coord'">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
      
  <div class="zoneBas">
    Zone Bas
    The age is {{age}}
  </div>
</body>


