<body>
    <div class="zoneHaut">
        Zone Haut
    </div>
  
    <div class="zoneDroite">
      Zone Droite
      The content is {{geeting.content}}
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>                             
        <ui-gmap-markers click="clickMarker" icon="'icon'" models="markers" coords="'coord'">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
        
    <div class="zoneBas">
      Zone Bas
      The age is {{age}}
    </div>
</body>
  
  
  